<div class="profile-card">
  <div class="avatar-name">
    <img

    [src]="profile.avatarUrl | imgUrl"
    [alt]="profile.username" class="profile-card__avatar">

     <div class="profile-card__name">
      <strong>{{profile.firstName}} {{profile.lastName}}</strong>
      <span>{{profile.username}}</span>
    </div>
  </div>
  <div class="profile-card__description">
    {{profile.description}}
  </div>
  <div class="profile-card__tags">
      @for(stack of profile.stack; track $index){
      <div class="skill-tag">{{stack}}</div>
      }

  </div>

  <div class="profile-card__action-btns">
    <button class="btn">Подписаться</button>
  </div>
</div>
