<div>
    <div>{{this.httpService.errorMessage}}</div>
    <div>
        <label for="num1">Введите первое число</label>
        <input type="number" name="num1" id="num1" [(ngModel)]="num1" />
    </div>
    <div>
        <label for="num1">Введите второе число</label>
        <input type="number" name="num1" id="num1" [(ngModel)]="num2" />
    </div>

    @if(done){ 
        <div>Сумма: {{sum}}</div> 
    }
   <button (click)="getPosts()">получить посты</button>
    <button (click)="postData()">Подсчитать</button>
  <ul [hidden]="posts.length===0">
    @for(post of posts; track $index){
    <li>
      <h2>{{ post.title }}</h2>
      <p>{{ post.text }}</p>
    </li>
    }
  </ul>
</div>
