<div>
    <form #myForm="ngForm" novalidate>
    <label>Имя пользователя</label><br />
    <input
      name="name"
      [(ngModel)]="newUser.name"
      required
      #userName="ngModel"
    />
    <div [hidden]="userName.valid || userName.untouched" class="alert">
      Не указано имя
    </div>
  <div>
    <label>Возраст</label><br />
    <input
      type="number"
      name="age"
      [(ngModel)]="newUser.age"
      #userAge="ngModel"
      required
      pattern="[0-9]{2}"
    />
    <div [hidden]="userAge.valid || userAge.untouched" class="alert">
      Некорректный возраст
    </div>
  </div>
  <p>
    <label>Место работы</label><br />
    <select
      name="company"
      [(ngModel)]="newUser.companyId"
      #userCompany="ngModel"
    >
      @for(comp of companies; track $index){
      <option [value]="comp.id">
        {{ comp.name }}
      </option>
      }
    </select>
  </p>
  <button [disabled]="myForm.invalid" (click)="addUser(myForm)">
    Добавить
  </button>
  </form>
  <button [disabled]="userName.invalid || userAge.invalid" (click)="logUser(userName, userAge, userCompany)">Логгировать</button>
</div>
<div>
  <h3>Добавленные элементы</h3>
  <ul>
    @for(u of users; track $index){
    <li>
      {{ u.name }} ({{ u.companyName }}) -
      {{ u.age !== undefined ? u.age : "Возраст не указан" }}
    </li>
    }
  </ul>
  <p>{{ userName.name }} : {{ userName.model }}</p>
  <p>{{ userAge.name }} : {{ userAge.model }}</p>
  <p>{{ userCompany.name }} : {{ userCompany.model }}</p>

  <p>Имя: {{myForm.value.userName}}</p>
<p>Email: {{myForm.value.userAge}}</p>
</div>
